#productRank li{
    list-style: none;
}
.nav-list{
    width: 100%;
    height: 40px;
    margin-bottom: 0.571em;
    padding: 0 1.143em;
    display: block;
}
.nav-list > p{
    padding: 0.500em 0.357em;
    display: block;

}
.nav-list > p:after{
    content: '\62';
    color: #aeaeae;
    font-size: 1.214em;
    float: right;
    font-family: 'font-electro';
    border-top: none;
    border-left: none;
    border-right: none;
    width: auto;
    height: auto;
}
.nav-list> p:hover{
    background-color: #f2f2f2;
}
.nav-list > p:hover a{
    font-weight: bold;
}
.nav-list > p a{
    color: black;
    font-size: 1em;
    font-weight: normal;
    font-family: 微软雅黑 ;
}
.nav-list:hover  .list-float{
    display: block;
}
.list-per{
    position: relative;
}
.list-float{
    width: 750px;!important;
    height: 360px;!important;
    border: 2px solid #999999;
    position: absolute;
    left: 269px;
    top: 51px;
    background-color: white;
    display: none;

}
.list-float-1{
    width: 33.33%;
    height: 100%;
    float: left;
    font-family: 微软雅黑;
}
.list-float-1 h5{
    font-family: 微软雅黑;
    display: block;
    height: 40px;
    border: 0px solid rebeccapurple;
    line-height:40px;
    padding: 0px 15px;

}
.list-float-1 h5:before{
    content: '\62';
    color: #aeaeae;
    font-size: 1.214em;
    float: left;
    font-family: 'font-electro';
    border-top: none;
    border-left: none;
    border-right: none;
    width: auto;
    height: auto;
}
.list-float-1 p{
    padding: 0px 20px;
}
.list-float-1 p a{
    color: black;
    font-size: 14px;
    padding-right: 15px;
    display: block;
    float: left;
    padding-bottom: 6px
}
.list-float-1 p a:hover{
    color: #ea1b25;
}